html,
body {
  width: 100%;
  height: 100vh;
  background: black;
}

a:hover {
  text-decoration: none;
}

/******* Header  *******/
.navbar-brand {
  color: #00B1E9;
  font-size: 30px;
}

a.nav-link {
  color: #00B1E9;
  padding: .5em;
  font-size: 24px;
}

a.nav-link:hover {
  /* border-bottom: 2px solid #00B1E9; */
  color: #2ECC71;
}

h2 {
  color: #00B1E9;
}

nav {
  border-bottom: 1px solid #00B1E9;
  margin-bottom: 2em;
}

ul.navbar-nav {
  float: right;
}

li {
  list-style: none;
}

/****** Table Index *******/
.table-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8em;
}

.my-table {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  height: 180px;
  width: 180px;
  text-align: center;
  background: #2ECC71;
  border-radius: 30px;
  margin: 20px;
}

.my-table:hover {
  background-color: white;
  color: #2ECC71;
  border: 1px solid #2ECC71;
}

.my-table-content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

/******** Table Show ********/
.check-container {
  height: 80vh;
  background-color: white;
  overflow: scroll;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  height: 140px;
  width: 140px;
  text-align: center;
  background: #dd5638;
  margin: 20px;
}

.menu-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu-content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.menu-content span {
  display: block;
  font-size: 20px;
  font-weight: normal;
}

.menu-button {
  margin: 15px;
}

.btn.btn-primary {
  margin-right: 3.6em;
}

.btn-primary,
.btn-secondary {
  font-size: 25px!important;
}

.voided {
  color: #D3D3D3;
  text-decoration: line-through;
}

/******** Check Index *********/

h3 {
  text-align: center;
  color: white;
  margin-bottom: 1em;
  border-bottom: 1px solid #00B1E9;
}

h3.check-title {
  text-align: center;
  color:#00B1E9;
  margin-bottom: 1em;
  border-bottom: 1px solid #00B1E9;
  font-size: 24px;
  padding: .5em;
}

.check-list {
  padding: 0;
  text-align: center;
}