html,
body {
  width: 100%;
  height: 100vh;
}

.check-container {
  /* height: 90vh; */
  border: 3px solid black;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  height: 140px;
  width: 140px;
  text-align: center;
  background: #dd5638;
  margin: 20px;
}

.menu-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu-content {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.menu-content span {
  display: block;
  font-size: 20px;
  font-weight: normal;
}

.menu-button {
  margin: 15px;
}

.btn.btn-primary {
  margin-right: 35px;
}

.btn-primary,
.btn-secondary {
  font-size: 25px!important;
}

.voided {
  color: #D3D3D3;
  text-decoration: line-through;
}